.Dictionary {
  margin-left: 50px;
  margin-right: 50px;
}
.Dictionary section {
  background: white;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 15px, 15px, 15px rgba(0, 0, 0, 0.767);
  margin-top: 30px;
}
.Dictionary .search {
  box-shadow: 5px 5px 5px 0.7;
  line-height: 1.5;
  width: 300px;
}
.Dictionary h5 {
  font-weight: bold;
}
